// ----------------
// Colors
// ----------------

// Primary
$rw-color-primary-a-100: #FFE114;
$rw-color-primary-a-150: #EBCB00;
$rw-color-primary-b-150: #004380;
$rw-color-primary-b-100: #176396;
$rw-color-primary-b-50: #99CDE8;

// Greyscale
$rw-color-neutrals-100: #474747;
$rw-color-neutrals-75: #8D8D8D;
$rw-color-neutrals-50: #C3C3C3;
$rw-color-neutrals-25: #D6D6D6;
$rw-color-neutrals-15: #EBEBEB;
$rw-color-neutrals-10: #F2F2F2;
$rw-color-neutrals-5: #FAFAFA;
$rw-color-white: #ffffff;
$rw-color-black: #000000;

// Text
$rw-color-link: $rw-color-primary-b-150;
$rw-color-link-hover: $rw-color-primary-b-100;
$rw-color-text-primary: $rw-color-neutrals-100;
$rw-color-text-secondary: $rw-color-neutrals-75;
$rw-color-text-color: $rw-color-primary-b-150;
;

// Products
$rw-color-product--greyblue: #8FACB2;
$rw-color-product--green: #46BC63;
$rw-color-product--lightblue: #429ED6;
$rw-color-product--violet: #CB7ACC;
$rw-color-product--orange: #E1722E;
$rw-color-product--red: #E65642;
$rw-color-product--turquois: #41BCBB;
$rw-color-product--sseplus: #D6313A;
